{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": "typescript"
  },
  "rules": {
    // ESLint - Possible Problems
    "no-constructor-return": 1,
    "no-dupe-class-members": 0,
    "no-self-compare": 1,
    "no-unmodified-loop-condition": 1,
    "no-unreachable-loop": 1,
    "require-atomic-updates": 1,
    // ESLint - Suggestions
    "arrow-body-style": 1,
    "curly": [1, "multi"],
    "default-case-last": 1,
    "eqeqeq": 2,
    "func-style": [1, "declaration", { "allowArrowFunctions": true }],
    "max-classes-per-file": 1,
    "max-depth": 1,
    "max-nested-callbacks": [1, 4],
    "max-params": [1, 4],
    "max-statements": [1, 100],
    "new-cap": [1, { "capIsNew": false }],
    "no-bitwise": [1, { "allow": ["<<"] }],
    "no-caller": 2,
    "no-eval": 1,
    "no-extend-native": 2,
    "no-extra-bind": 1,
    "no-floating-decimal": 1,
    "no-iterator": 1,
    "no-labels": 2,
    "no-lone-blocks": 1,
    "no-lonely-if": 1,
    "no-multi-assign": 1,
    "no-multi-str": 1,
    "no-new": 1,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-octal-escape": 2,
    "no-proto": 1,
    "no-redeclare": 0,
    "no-regex-spaces": 1,
    "no-return-assign": 1,
    "no-sequences": 2,
    "no-undef-init": 1,
    "no-undefined": 2,
    "no-underscore-dangle": 1,
    "no-unneeded-ternary": [1, { "defaultAssignment": false }],
    "no-useless-call": 1,
    "no-useless-computed-key": [1, { "enforceForClassMembers": true }],
    "no-useless-concat": 1,
    "no-useless-rename": 1,
    "no-useless-return": 1,
    "no-var": 2,
    "no-void": 2,
    "object-shorthand": 1,
    "one-var": [1, "never"],
    "operator-assignment": 1,
    "prefer-arrow-callback": [1, { "allowUnboundThis": false }],
    "prefer-const": 1,
    "prefer-destructuring": 1,
    "prefer-exponentiation-operator": 1,
    "prefer-named-capture-group": 1,
    "prefer-numeric-literals": 1,
    "prefer-object-spread": 1,
    "prefer-promise-reject-errors": 1,
    "prefer-regex-literals": [1, { "disallowRedundantWrapping": true }],
    "prefer-rest-params": 2,
    "prefer-spread": 1,
    "prefer-template": 1,
    "quote-props": [1, "as-needed"],
    "radix": [1, "as-needed"],
    "spaced-comment": [2, "always", {
      "line": { "markers": ["--", "*", "*/"] },
      "block": { "balanced": true, "markers": ["/"] }
    }],
    "symbol-description": 1,
    "yoda": 1,
    // ESLint - Layout & Formatting
    "array-bracket-newline": [1, "consistent"],
    "array-bracket-spacing": 1,
    "array-element-newline": [1, "consistent"],
    "arrow-parens": 1,
    "arrow-spacing": 1,
    "block-spacing": 1,
    "comma-style": 1,
    "computed-property-spacing": 1,
    "dot-location": [1, "property"],
    "eol-last": 2,
    "function-call-argument-newline": [1, "consistent"],
    "function-paren-newline": [1, "multiline-arguments"],
    "generator-star-spacing": [1, { "before": false, "after": true, "anonymous": "neither", "method": "both" }],
    "key-spacing": 1,
    "line-comment-position": [1, { "ignorePattern": "--" }],
    "linebreak-style": 1,
    "max-len": [1, { "code": 200 }],
    "max-statements-per-line": 1,
    "new-parens": 1,
    "newline-per-chained-call": [1, { "ignoreChainWithDepth": 3 }],
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": [1, { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "no-tabs": 2,
    "no-trailing-spaces": 1,
    "no-whitespace-before-property": 1,
    "nonblock-statement-body-position": [1, "beside", { "overrides": { "if": "any", "for": "below" } }],
    "object-curly-newline": 1,
    "object-property-newline": [1, { "allowAllPropertiesOnSameLine": true }],
    "operator-linebreak": [1, "before"],
    "padded-blocks": [1, "never"],
    "rest-spread-spacing": 1,
    "semi-spacing": 1,
    "semi-style": 1,
    "space-before-blocks": 1,
    "space-in-parens": 1,
    "space-unary-ops": 1,
    "switch-colon-spacing": 1,
    "template-curly-spacing": 1,
    "template-tag-spacing": 1,
    "unicode-bom": 2,
    "wrap-iife": [1, "inside"],
    "yield-star-spacing": 1,
    // Typescript
    "@typescript-eslint/array-type": 1,
    "@typescript-eslint/ban-ts-comment": [1, { "ts-expect-error": true, "ts-check": true }],
    "@typescript-eslint/ban-tslint-comment": 2,
    "@typescript-eslint/consistent-indexed-object-style": 1,
    "@typescript-eslint/consistent-type-assertions": [1, { "assertionStyle": "angle-bracket", "objectLiteralTypeAssertions": "never" }],
    "@typescript-eslint/consistent-type-definitions": [1, "type"],
    "@typescript-eslint/consistent-type-exports": 1,
    "@typescript-eslint/consistent-type-imports": 1,
    "@typescript-eslint/explicit-function-return-type": 2,
    "@typescript-eslint/member-delimiter-style": 1,
    "@typescript-eslint/member-ordering": [1, { "default": [ "instance-field", "static-field", "field", "signature", "constructor", ["get", "set"], "method"] }],
    "@typescript-eslint/method-signature-style": [1, "method"],
    "@typescript-eslint/naming-convention": [1,
      { "selector": "default", "format": ["camelCase"], "leadingUnderscore": "forbid", "trailingUnderscore": "forbid" },
      { "selector": ["typeLike", "enumMember"], "format": ["PascalCase"], "leadingUnderscore": "forbid", "trailingUnderscore": "forbid" },
      { "selector": "property", "format": ["camelCase", "snake_case"], "leadingUnderscore": "forbid", "trailingUnderscore": "forbid" },
      { "selector": "variable", "modifiers": ["const", "global"], "types": ["number", "string", "boolean"], "format": ["UPPER_CASE", "camelCase"], "leadingUnderscore": "forbid", "trailingUnderscore": "forbid" },
      { "selector": "parameter", "modifiers": ["unused"], "format": ["camelCase"], "leadingUnderscore": "require", "trailingUnderscore": "forbid" }
    ],
    "@typescript-eslint/no-confusing-non-null-assertion": 1,
    "@typescript-eslint/no-dynamic-delete": 2,
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-extraneous-class": 1,
    "@typescript-eslint/no-floating-promises": 0,
    "@typescript-eslint/no-invalid-void-type": 1,
    "@typescript-eslint/no-non-null-asserted-nullish-coalescing": 1,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-parameter-properties": [1, { "allows": ["readonly"] }],
    "@typescript-eslint/no-redundant-type-constituents": 1,
    "@typescript-eslint/no-require-imports": 2,
    "@typescript-eslint/no-unnecessary-boolean-literal-compare": 1,
    "@typescript-eslint/no-unnecessary-qualifier": 1,
    "@typescript-eslint/no-unnecessary-type-arguments": 1,
    "@typescript-eslint/no-useless-empty-export": 1,
    "@typescript-eslint/non-nullable-type-assertion-style": 1,
    "@typescript-eslint/prefer-for-of": 1,
    "@typescript-eslint/prefer-function-type": 1,
    "@typescript-eslint/prefer-includes": 1,
    "@typescript-eslint/prefer-literal-enum-member": 2,
    "@typescript-eslint/prefer-nullish-coalescing": 1,
    "@typescript-eslint/prefer-optional-chain": 1,
    "@typescript-eslint/prefer-readonly": 1,
    "@typescript-eslint/prefer-reduce-type-parameter": 1,
    "@typescript-eslint/prefer-return-this-type": 1,
    "@typescript-eslint/prefer-string-starts-ends-with": 1,
    "@typescript-eslint/require-array-sort-compare": 1,
    "@typescript-eslint/restrict-template-expressions": 0,
    "@typescript-eslint/switch-exhaustiveness-check": 1,
    "@typescript-eslint/triple-slash-reference": [2, { "path": "never", "types": "never", "lib": "never" }],
    "@typescript-eslint/type-annotation-spacing": 1,
    "@typescript-eslint/unified-signatures": 1,
    // Typescript - Extensions
    "@typescript-eslint/brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "@typescript-eslint/comma-dangle": [1, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "enums": "only-multiline"
    }],
    "@typescript-eslint/comma-spacing": 1,
    "@typescript-eslint/default-param-last": 1,
    "@typescript-eslint/func-call-spacing": 1,
    "@typescript-eslint/init-declarations": 1,
    "@typescript-eslint/keyword-spacing": 1,
    "@typescript-eslint/lines-between-class-members": [1, "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/no-dupe-class-members": 2,
    "@typescript-eslint/no-duplicate-imports": 2,
    "@typescript-eslint/no-extra-parens": 1,
    "@typescript-eslint/no-invalid-this": 2,
    "@typescript-eslint/no-loop-func": 2,
    "@typescript-eslint/no-redeclare": 2,
    "@typescript-eslint/no-shadow": [1, { "builtinGlobals": true, "hoist": "all" }],
    "@typescript-eslint/no-throw-literal": 2,
    "@typescript-eslint/no-unused-expressions": 1,
    "@typescript-eslint/no-use-before-define": [1, "nofunc"],
    "@typescript-eslint/no-useless-constructor": 1,
    "@typescript-eslint/object-curly-spacing": [1, "always"],
    "@typescript-eslint/padding-line-between-statements": [1,
      { "blankLine": "always", "prev": ["function", "class", "import", "export"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["function", "class", "import", "export"] },
      { "blankLine": "any", "prev": "export", "next": "export" },
      { "blankLine": "any", "prev": "import", "next": "const" },
      { "blankLine": "never", "prev": "import", "next": "import" }
    ],
    "@typescript-eslint/return-await": [1, "never"],
    "@typescript-eslint/semi": 1,
    "@typescript-eslint/space-before-function-paren": [1, { "anonymous": "never", "named": "never", "asyncArrow": "always" }],
    "@typescript-eslint/space-infix-ops": 1,
    // Import - Static analysis
    "import/no-restricted-paths": [2, {
      "zones": [{
        "target": "./src/core/init",
        "from": "./src/**/*",
        "except": ["./src/*/index"]
      }]
    }],
    "import/no-absolute-path": 2,
    "import/no-self-import": 2,
    "import/no-cycle": [2, { "ignoreExternal": true }],
    "import/no-useless-path-segments": 1,
    "import/no-relative-packages": 2,
    // Import - Helpful warnings
    "import/no-deprecated": 1,
    "import/no-extraneous-dependencies": [1, { "devDependencies": false, "peerDependencies": false, "bundledDependencies": false }],
    "import/no-mutable-exports": 1,
    // Import - Module systems
    "import/unambiguous": 1,
    "import/no-commonjs": 2,
    "import/no-import-module-exports": 2,
    // Import - Style guide
    "import/first": 1,
    "import/no-namespace": 2,
    "import/extensions": [1, {
      "ts": "never",
      "json": "always"
    }],
    "import/order": [1, {
      "groups": ["internal", "builtin", "external", "type"],
      "pathGroups": [
        { "pattern": "config.json", "group": "type", "position": "before" },
        { "pattern": "dotenv/config", "group": "type", "position": "after" }
      ],
      "warnOnUnassignedImports": true //-- dotenv/config giving issues
    }],
    "import/prefer-default-export": 1,
    "import/max-dependencies": 1,
    "import/no-unassigned-import": [1, { "allow": ["dotenv/config"] }],
    "import/no-named-default": 1,
    "import/no-anonymous-default-export": 2
  }
}
